body{
    background-image: url('https://thumbs.dreamstime.com/b/wood-background-wallpaper-hd-123273980.jpg');
}
.initial-div{
    background-color: aliceblue;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 40px;
    transform: translate(500px, 201px);
    visibility: visible;
}
.sec-div{
        visibility: hidden;
        background-color: aliceblue;
        border-radius: 5px;
        display:flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        position: absolute;
        padding: 20px;
        transform: translate(500px, 201px);

    }
#cross-btn{
    display: inline-block;
    content: 'X';
    font-weight: 300;
}

button:hover{
    background-color: bisque;
}